.card {
  display: flex;
  flex-direction: column;
  width: 18%;
  height: 400px;
  animation: 0.5s var(--fade-in);

  .img {
    width: 80px;
    height: 120px;
  }

  .title {
    overflow: hidden;
    white-space: nowrap;
  }
}
