@import "./normalize.scss";

:root {
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
