@import "./normalize.scss";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,600;0,700;1,400&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --blue-primary: #007bff;
  --blue-dark: #0062cc;
  --fade-in: fadein;
  --spin: spin;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Exo 2", sans-serif;
}

body {
  height: auto;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
