@import "./normalize.scss";

:root {
  --white: #fff;
  --black: #000;
  --fade-in: fadein;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
